<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <p>
 <ul>
    <li>Team Name: <%="#{params[:name]}"%></li>
    <li>Coach: <%="#{params[:coach]}"%></li>
    <li>Point Guard: <%="#{params[:pg]}"%></li>
    <li>Shooting Guard: <%="#{params[:sg]}"%></li>
    <li>Small Forward: <%="#{params[:sf]}"%></li>
    <li>Power Forward: <%="#{params[:pf]}"%></li>
    <li>Center: <%="#{params[:c]}"%></li>
   </ul>
 </p>

 </body>
 </html>
 
