<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <b>Team Name: <%= params[:name] %></b>
   <b>Coach: <%= params[:coach] %></b>
   <b>Point Guard: <%= params[:pg] %></b>
   <b>Power Forward: <%= params[:pf] %></b>
   <b>Shooting Guard: <%= params[:sg] %></b>
   <b>Center: <%= params[:c] %></b>
 </body>
</html>
